$color-black:#161418;
$color-gray:#8F8B8C;
$color-red:#DD1818;

.footer {
    height: 456px;
    width: 100%;
    background-color: $color-black;
    position:relative;
    .footer-content {
        width: 85%;
        height: 60%;
        .footer-logo {
            -webkit-filter: grayscale(1) invert(1);
            filter: grayscale(1) invert(1);
        }
        p{
            max-width: 360px;
            font-size:16px;
            line-height:32px;
            color: $color-gray;
        }
       
    }
    a{
        color: $color-gray; 
    }
    .overlay-footer{
        display:none;
    }
}
.dark{
    .footer{
        .overlay-footer{
            display:block;
            width: 638px;
            height: 300px;
            position:absolute;
            left: -416px;
            top: 0;
            background: $color-red;
            filter: blur(700px);
        }
       
    }
}
